.viewport {
  --viewport-padding: 2.5rem;
  position: fixed;
  bottom: 0;
  right: 50%;
  transform: translateX(50%);
  padding: var(--viewport-padding);
  gap: 1rem;
  margin: 0;
  list-style: none;
  z-index: 10;
  outline: none;
  width: fit-content;
}

@keyframes hide {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(calc(100% + var(--viewport-padding)));
  }
}

@keyframes slideIn {
  from {
    transform: translateY(calc(100% + var(--viewport-padding)));
  }
  to {
    transform: translateY(0);
  }
}

@keyframes swipeOut {
  from {
    transform: translateX(var(--radix-toast-swipe-end-x));
  }
  to {
    transform: translateX(calc(100% + var(--viewport-padding)));
  }
}

.root {
  background-color: var(--palette-gray-2);
  border-radius: 0.8rem;
  padding: 1.6rem;
  display: flex;
  flex-direction: column;
  width: fit-content;
  cursor: pointer;
}

.root[data-state="open"] {
  animation: slideIn 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.root[data-state="closed"] {
  animation: hide 100ms ease-in;
}

.root[data-swipe="move"] {
  transform: translateX(var(--radix-toast-swipe-move-x));
}

.root[data-swipe="cancel"] {
  transform: translateX(0);
  transition: transform 200ms ease-out;
}

.root[data-swipe="end"] {
  animation: swipeOut 100ms ease-out;
}

.title,
.description {
  color: black;
  font-size: 2rem;
}

.title {
  font-weight: 800;
}

.description {
  font-weight: 500;
}
